html {
 scroll-behavior: smooth;
}

.header {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
}

.header__menu {
  color: rgba(0, 0, 0, 1);
  padding-left: 50px;
  padding-bottom: 4px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
}
   
.header__link { 
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 18px;
  line-height: 22px;
}

.header__links-list-item {
 list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  display:block;
  /*height: 124.05;
  width: 105;*/
  justify-self: center;
  align-self: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.address {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: inherit;
  line-height: 24.3px;
  text-underline-offset: 4px;
  text-align: left;
}

.header__address {
  padding-left: 193px;
  padding-bottom: 3px;
}

.cover {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  width: 1100px;
  min-height: 757px;
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  inset: 0px;
}

.cover__title {
  color: #fff;
  position: relative;
  font-size: 100px;
  font-weight: 700px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 113.6px;
  z-index: 2;
  line-height: 1.23;
}

.cover__description {
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  word-spacing: 18px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 18.3px;
  padding-bottom: 7.9px;
}

.bet-button {
  font-family: 'Raleway', sans-serif;  
  line-height: 25.83px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  min-height: 51px;
  border: 1px solid #fff;
  background-color: transparent;
  min-width: 256px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
  }

.no-letter-spacing {
  letter-spacing: 0em;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text-right {
  text-align: right;
  line-height: 1;
  margin-top: 31px;
}

.aligned-text-center {
  text-align: center;
  line-height: 1;
  margin-top: 29.5px;
}

.lots {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.lots__heading {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin-top: 180px;
  padding-left: 64px;
  padding-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots_card-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  flex-wrap: wrap;
}

.lots_card-list-item {
  list-style: none;
  min-height: 596px;
  position: relative;
}

.card {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  z-index: 1;
  color: #fff;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  padding-left: 64px;
  padding-top: 31px;
}

.about {
  display: grid;
  grid-template-columns: 358px 1fr;
  margin-top: 120px;
  margin-left: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 240px 688px;
  column-gap: 72px;
  grid-column-start: 1;
  padding: 35px 72px 7px 47px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}

.about__logo-image {
  width: 148px;
  min-height: 114px;
}
  
.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  color:black;
  text-transform: uppercase;
  padding-top: 136px;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 0.03em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 693px;
  width: 100%;
}

.about__text-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column-start: 2;
  min-height: 312px;
  margin-bottom: 180px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 82px;
  min-height: 180px;
  height: 100%;
}

.footer__menu {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding-left: 33.8px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  color: black;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}


.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  min-height: 48px;
  flex-direction: row;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}